releases/v2/releases/v2/dist-windows/Damascus[[:space:]]Emergency[[:space:]]Inventory[[:space:]]2.0.3.exe filter=lfs diff=lfs merge=lfs -text
releases/v2/releases/v2/dist-windows/win-unpacked/Damascus[[:space:]]Emergency[[:space:]]Inventory.exe filter=lfs diff=lfs merge=lfs -text
releases/windows/v2.0.4/Damascus-Emergency-Inventory-v2.0.4-Windows.zip filter=lfs diff=lfs merge=lfs -text
releases/android/v2.0.4/Damascus-Emergency-Inventory-v2.0.4-offline.apk filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.1/Damascus-Emergency-Inventory-v3.0.1-Windows.zip filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.2/Damascus-Emergency-Inventory-v3.0.2-Windows.zip filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.3/Damascus-Emergency-Inventory-v3.0.3-Windows.zip filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.4/*.zip filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.5/*.zip filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.5/**/*.exe filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.6/*.zip filter=lfs diff=lfs merge=lfs -text
releases/windows/v3.0.6/**/*.exe filter=lfs diff=lfs merge=lfs -text
